[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
cymysql = "*"
requests = "*"
flask-cors = "*"
flask-wtf = "==0.14.2"
flask-httpauth = "==2.7.0"
[dev-packages]

[requires]
python_version = "3.6"
